@model IEnumerable<ModelLayer.Models.TvSerie>

@{
    ViewBag.Title = "AllTvSeries";
}

<div class="allItems">
    <div class="l-container">
        @foreach (var item in Model)
        {
            <div class="b-game-card" onclick="location.href='@Url.Action("TvSerieDetails", "Item", new { Id = @item.ItemID })'">
                <div class="b-game-card__cover" style="background-image: url(@item.Picture);">
                </div>
            </div>
        }
    </div>
</div>
